<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Sistema{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block styles %}{% endblock %}
</head>

<body>

    <!-- TOP BAR -->
    <div class="topbar">
        <div class="logo"><img src="{% static 'img/Logo.png' %}" alt="Sara Nómina" height="120"></div>
        <div class="menu">
            <span>Mensajes</span>
            <span>{% if request.user.is_authenticated %}
                {{ request.user.username|upper }}
                {% else %}
                Perfil
                {% endif %}
            </span>
            <span><a href="{% url 'seleccionar_empresa' %}" class="empresa-topbar">
            {{ request.session.codigo_empresa }} - {{ request.session.razon_social }}</a>        
            </span>
            <span><a href="{% url 'logout' %}">Salir</a></span>
        </div>
    </div>

    <!-- LAYOUT -->
    <div class="layout">

        <div class="sidebar">

            <a href="/inicio">Inicio</a>

            {% with request.path as current %}
            <div class="menu-group
        {% if '/gestionidentificacion/' in current or '/identificaciones/' in current%}
            active
        {% endif %}
    ">

                <button class="menu-toggle">
                    Gestión de Información
                    <span class="arrow">▶</span>
                </button>

                <div class="submenu">

                    <a href="/gestionidentificacion/tipos_ide/" class="{% if '/tipos_ide/' in current %}active-link{% endif %}">
                        Tipos de Identificación
                    </a>

                    <a href="/gestionidentificacion/identificaciones/" class="{% if '/identificaciones/' in current %}active-link{% endif %}">
                        Identificaciones
                    </a>

                </div>
            </div>
            {% endwith %}

            
            {% with request.path as current %}
            <div class="menu-group
        {% if '/gestioncontratos/' in current or '/contrato/' in current%}
            active
        {% endif %}
    ">

                <button class="menu-toggle">
                    Gestión de Contratos
                    <span class="arrow">▶</span>
                </button>

                <div class="submenu">

                    <a href="/gestioncontratos/contratos"
                        class="{% if '/gestioncontratos/contratos/' in current %}active-link{% endif %}">
                        Contratos
                    </a>
                </div>
            </div>
            {% endwith %}

            
            {% with request.path as current %}
            <div class="menu-group
        {% if '/clientes/' in current or '/empresas/' in current %}
            active
        {% endif %}
    ">

                <button class="menu-toggle">
                    Gestión de Clientes
                    <span class="arrow">▶</span>
                </button>

                <div class="submenu">

                    <a href="/gestionclientes/clientes"
                        class="{% if '/gestionclientes/clientes/' in current %}active-link{% endif %}">
                        Clientes
                    </a>

                    <a href="/gestionclientes/user_empresa"
                        class="{% if '/gestionclientes/user_empresa/' in current %}active-link{% endif %}">
                        Asignar Empresas
                    </a>


                </div>
            </div>
            {% endwith %}

            

            {% with request.path as current %}
            <div class="menu-group
        {% if '/gestionconceptos/' in current or '/conceptos/' in current%}
            active
        {% endif %}
    ">

                <button class="menu-toggle">
                    Gestión de Conceptos
                    <span class="arrow">▶</span>
                </button>

                <div class="submenu">

                    <a href="/gestionconceptos/conceptos"
                        class="{% if '/gestionconceptos/conceptos/' in current %}active-link{% endif %}">
                        Conceptos
                    </a>
                </div>
            </div>
            {% endwith %}




            {% with request.path as current %}
            <div class="menu-group
        {% if '/parametros/' in current or '/tipos_contratos/' in current %}
            active
        {% endif %}
    ">

                <button class="menu-toggle">
                    Gestion de Parametros
                    <span class="arrow">▶</span>
                </button>
                <div class="submenu">
                    <a href="/parametros/tipos_contratos"
                        class="{% if '/parametros/tipos_contratos/' in current %}active-link{% endif %}">
                        Tipos contratos
                    </a>
                </div>
                <div class="submenu">
                    <a href="/parametros/tipos_salarios"
                        class="{% if '/parametros/tipos_salarios/' in current %}active-link{% endif %}">
                        Tipos salarios
                    </a>
                </div>
                <div class="submenu">
                    <a href="/parametros/tipos_cotizantes"
                        class="{% if '/parametros/tipos_cotizates/' in current %}active-link{% endif %}">
                        Tipos cotizantes
                    </a>
                </div>
                <div class="submenu">
                    <a href="/parametros/subtipos_cotizantes"
                        class="{% if '/parametros/subtipos_cotizates/' in current %}active-link{% endif %}">
                        Subtipos cotizantes
                    </a>
                </div>
                <div class="submenu">
                    <a href="/parametros/bancos"
                        class="{% if '/parametros/bancos/' in current %}active-link{% endif %}">
                        Bancos
                    </a>
                </div>
                <div class="submenu">
                    <a href="/parametros/entidades_ss"
                        class="{% if '/parametros/entidades_ss/' in current %}active-link{% endif %}">
                        Entidades SS
                    </a>
                </div>
                <div class="submenu">
                    <a href="/parametros/conceptos_salario"
                        class="{% if '/parametros/conceptos_salario/' in current %}active-link{% endif %}">
                        Conceptos de salario
                    </a>
                </div>

                <div class="submenu">
                    <a href="/parametros/tipo_nomina"
                        class="{% if '/parametros/tipo_nomina/' in current %}active-link{% endif %}">
                        Tipos de nomina
                    </a>
                </div>

            </div>
            {% endwith %}

            {% with request.path as current %}
            <div class="menu-group
        {% if '/gestionreportes/' in current or '/reportes/' in current or '/parametros_reportes/' in current%}
            active
        {% endif %}
    ">

                <button class="menu-toggle">
                    Gestión de Reportes
                    <span class="arrow">▶</span>
                </button>

                <div class="submenu">

                    <a href="/gestionreportes/reportes"
                        class="{% if '/gestionreportes/reportes/' in current %}active-link{% endif %}">
                        Reportes
                    </a>

                    <a href="/gestionreportes/creareportes"
                        class="{% if '/gestionreportes/creareportes/' in current %}active-link{% endif %}">
                        Gestion reportes
                    </a>


                    <a href="/gestionreportes/parametros_reportes"
                        class="{% if '/gestionreportes/parametros_reportes/' in current %}active-link{% endif %}">
                        Parametros reportes
                    </a>


                </div>
            </div>
            {% endwith %}


            

            <a href="#">Usuarios</a>
            <a href="#">Reportes</a>
        </div>
        <!-- CONTENT -->
        <div class="content">

            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.level_tag }}">
                {{ message }}
            </div>

            {% endfor %}
            {% endif %}
            {% block content %}

            {% endblock %}

        </div>
    </div>

    <script>
        setTimeout(() => {
            const msg = document.getElementById("msg");
            if (msg) msg.remove();
        }, 3000);
    </script>
    <script>
        document.querySelectorAll('.tab-btn').forEach(btn => {
            btn.addEventListener('click', () => {
                // botones
                document.querySelectorAll('.tab-btn').forEach(b => b.classList.remove('active'));
                btn.classList.add('active');

                // contenido
                document.querySelectorAll('.tab-pane').forEach(tab => tab.classList.remove('active'));
                document.getElementById(btn.dataset.tab).classList.add('active');
            });
        });
    </script>
    <script>
        document.querySelectorAll('.menu-toggle').forEach(button => {
            button.addEventListener('click', () => {
                const group = button.parentElement;
                group.classList.toggle('active');
            });
        });
    </script>

    {% block scripts %}{% endblock %}

</body>

</html>