{% extends "base.html" %}

{% block title %}Contratos{% endblock %}
{% block content %}
<h2>Salarios de contrato #{{ contrato.cod_contrato }}</h2>
<div class="table-container">
<table>
    <thead>
        <tr>
            <th>Contrato</th>
            <th>Tipo salario</th>
            <th>Salario</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
            <th>Estado</th>
            <th>Retroactivo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for b in registros %}
        <tr>
            <td>{{ b.contrato.cod_contrato }}</td>
            <td>{{ b.tipo_salario }}</td>
            <td>{{ b.salario }}</td>            
            <td>{{ b.fecha_inicio }}</td>
            <td>{{ b.fecha_fin|default:"" }}</td>
            <td>{{ b.estado }}</td>
            <td>{{ b.retroactivo }}</td>
            <td>
                <form method="post" action="{% url 'contrato_salario_eliminar' b.contrato.id b.pk %}"
                        onsubmit="return confirm('¿Eliminar esta salario?');">
                        {% csrf_token %}
                        <button type="submit">🗑 Eliminar</button>
                </form>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<h2>Asignar nuevo salario</h2>
<form id="cliente-form" method="POST">
    {% csrf_token %}
    <div class="card">
        <div class="form-grid-2">
            <div>
                <div class="form-group2">
                {{ form.tipo_salario.label_tag }} <!-- label arriba -->
                {{ form.tipo_salario }}
                {% if form.tipo_salario.errors %}
                <div class="error">{{ form.tipo_salario.errors }}</div>
                {% endif %}
                </div>
                <div class="form-group2">
                {{ form.salario.label_tag }} <!-- label arriba -->
                {{ form.salario }}
                {% if form.salario.errors %}
                <div class="error">{{ form.salario.errors }}</div>
                {% endif %}
                </div>
                <div class="form-group2">
                {{ form.fecha_inicio.label_tag }} <!-- label arriba -->
                {{ form.fecha_inicio }}
                {% if form.fecha_inicio.errors %}
                <div class="error">{{ form.fecha_inicio.errors }}</div>
                {% endif %}
                </div>
                <div class="form-group2">
                {{ form.fecha_fin.label_tag }} <!-- label arriba -->
                {{ form.fecha_fin }}
                {% if form.fecha_fin.errors %}
                <div class="error">{{ form.fecha_fin.errors }}</div>
                {% endif %}
                </div>
                <br>
                <label for="Estado">Estado</label>
                <label class="switch">
                {{form.estado}}
                <span class="slider"></span>
                </label>
                <br>
                <label for="Retroactivo">Retroactivo</label>
                <label class="switch">
                {{form.retroactivo}}
                <span class="slider"></span>
                </label>
            </div>
            
        </div>
    </div>
    <br>
    <br>
    <button type="submit" name="accion" value="guardar">Guardar</button>
</form>
{% endblock %}
{% block scripts %}
{% endblock %}