{% extends "base.html" %}

{% block title %}Conceptos{% endblock %}
{% block content %}
<h2>Conceptos</h2>
<div class="table-container">
<table>
    <thead>
        <tr>
            <th>Codigo concepto</th>
            <th>Descripccion</th>
            <th>Descripcion en ingles</th>
            <th>Tipo conceptos</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for b in registros %}
        <tr>
            <td>{{ b.cod_concepto }}</td>
            <td>{{ b.desc_concepto }}</td>
            <td>{{ b.desc_concepto_eng }}</td>
            <td>{{ b.tipo_concepto }}</td>
            <td>
                <button type="button" class="editar-btn" data-pk="{{ b.pk }}" 
                data-codigo = "{{ b.cod_concepto }}" data-desc = "{{ b.desc_concepto }}"
                data-desceng = "{{ b.desc_concepto_eng }}" data-tipo = "{{ b.tipo_concepto }}">
                ✏️ Editar
                </button>
            </td>
            <td>
                <form method="post" action="{% url 'conceptos_eliminar' b.pk %}"
                        onsubmit="return confirm('¿Eliminar este concepto?');">
                        {% csrf_token %}
                        <button type="submit">🗑 Eliminar</button>
                </form>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<h2>Crear nuevo concepto</h2>
<form id="conceptos-form" method="POST">
    {% csrf_token %}
    <div class="card">
        <div class="form-grid-2">
            <div>
                <div class="form-group2">
                {{ form.cod_concepto.label_tag }} <!-- label arriba -->
                {{ form.cod_concepto }}
                {% if form.cod_concepto.errors %}
                <div class="error">{{ form.cod_concepto.errors }}</div>
                {% endif %}
                </div>
                <div class="form-group2">
                {{ form.desc_concepto.label_tag }} <!-- label arriba -->
                {{ form.desc_concepto }}
                {% if form.desc_concepto.errors %}
                <div class="error">{{ form.desc_concepto.errors }}</div>
                {% endif %}
                </div>
                <div class="form-group2">
                {{ form.desc_concepto_eng.label_tag }} <!-- label arriba -->
                {{ form.desc_concepto_eng }}
                {% if form.desc_concepto_eng.errors %}
                <div class="error">{{ form.desc_concepto_eng.errors }}</div>
                {% endif %}
                </div>
                <div class="form-group2">
                {{ form.tipo_concepto.label_tag }} <!-- label arriba -->
                {{ form.tipo_concepto }}
                {% if form.tipo_concepto.errors %}
                <div class="error">{{ form.tipo_concepto.errors }}</div>
                {% endif %}
                </div>
            </div>
            
        </div>
    </div>
    <br>
    <br>
    <button type="submit" name="accion" value="guardar">Guardar</button>
</form>
{% endblock %}
{% block scripts %}
<script>
    document.querySelectorAll('.editar-btn').forEach(btn => {
        btn.addEventListener('click', () => {
            
            const pk = btn.dataset.pk;
            const codigo = btn.dataset.codigo;
            const desc = btn.dataset.desc;
            const desceng = btn.dataset.desceng;
            const tipo = btn.dataset.tipo;

            // Agregar un input hidden para el pk
            let form = document.getElementById('conceptos-form');
            let inputPk = form.querySelector('input[name="pk"]');
            if (!inputPk) {
                inputPk = document.createElement('input');
                inputPk.type = 'hidden';
                inputPk.name = 'pk';
                form.appendChild(inputPk);
            }

            inputPk.value = pk;
            form.querySelector('[name="cod_concepto"]').value = codigo;
            form.querySelector('[name="desc_concepto"]').value = desc;
            form.querySelector('[name="desc_concepto_eng"]').value = desceng;
            form.querySelector('[name="tipo_concepto"]').value = tipo;
            fo
        });
    });
</script>
{% endblock %}