{% extends "base.html" %}

{% block title %}Parametros{% endblock %}
{% block content %}
<h2>Parametro</h2>
<form method="get">
    <div class="card">
        <div class="form-grid-2">
            <div>
                <div class="form-group2">
                    <input type="text" name="codigo" placeholder="Buscar por codigo"
                        oninput="this.value = this.value.toUpperCase()" value="{{ request.GET.codigo }}">
                </div>
            </div>
            <div>
                <div class="form-group2">
                    <button type="submit">🔍Buscar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Detalle</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for b in registros %}
            <tr>
                <td>{{ b.codigo }}</td>
                <td>{{ b.titulo }}</td>
                <td>{{ b.descripcion }}</td>
                <td>
                    <form method="get" action="{% url 'grupo_concepto_det' b.id %}" style="display:inline;">
                        <button type="submit" class="btn btn-sm btn-primary">
                            🔎 Detalle
                        </button>
                    </form>
                </td>

                <td>
                    <button type="button" class="editar-btn" data-pk="{{ b.pk }}" data-codigo="{{ b.codigo }}"
                        data-titulo="{{ b.titulo }}" data-descripcion="{{ b.descripcion }}">
                        ✏️ Editar
                    </button>
                </td>
                <td>
                    <form method="post" action="{% url 'grupo_concepto_eliminar' b.pk %}"
                        onsubmit="return confirm('¿Eliminar este grupo?');">
                        {% csrf_token %}
                        <button type="submit">🗑 Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<h2>Nuevo grupo</h2>
<form id="tiponomina-form" method="POST">
    {% csrf_token %}
    <div class="card">
        <div class="form-grid-2">
            <div>
                <div class="form-group2">
                    {{ form.codigo.label_tag }} <!-- label arriba -->
                    {{ form.codigo }}
                    {% if form.codigo.errors %}
                    <div class="error">{{ form.codigo.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group2">
                    {{ form.titulo.label_tag }} <!-- label arriba -->
                    {{ form.titulo }}
                    {% if form.titulo.errors %}
                    <div class="error">{{ form.titulo.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group2">
                    {{ form.descripcion.label_tag }} <!-- label arriba -->
                    {{ form.descripcion }}
                    {% if form.descripcion.errors %}
                    <div class="error">{{ form.descripcion.errors }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <button type="submit" name="accion" value="guardar">Guardar</button>
</form>
{% endblock %}
{% block scripts %}
<script>
    document.querySelectorAll('.editar-btn').forEach(btn => {
        btn.addEventListener('click', () => {
            const pk = btn.dataset.pk;
            const codigo = btn.dataset.codigo;
            const titulo = btn.dataset.titulo;
            const descripcion = btn.dataset.descripcion;
            // Agregar un input hidden para el pk
            let form = document.getElementById('tiponomina-form');
            let inputPk = form.querySelector('input[name="pk"]');
            if (!inputPk) {
                inputPk = document.createElement('input');
                inputPk.type = 'hidden';
                inputPk.name = 'pk';
                form.appendChild(inputPk);
            }
            inputPk.value = pk;

            // Llenar los campos
            form.querySelector('[name="codigo"]').value = codigo;
            form.querySelector('[name="titulo"]').value = titulo;
            form.querySelector('[name="descripcion"]').value = descripcion;
            
        });
    });
</script>
{% endblock %}