{% extends "base.html" %}
{% load formatos %}

{% block title %}Filtros de logicas{% endblock %}
{% block content %}

<div class="tabs-card">
    <div class="tabs-header">
        <button type="button" class="tab-btn active" data-tab="tab1">Tipos de contratos</button>
        <button type="button" class="tab-btn" data-tab="tab2">Tipos de cotizantes</button>
    </div>

    <div class="tabs-content">
        <div id="tab1" class="tab-pane active">
            <strong>
                <p>Filtro de tipos de contratos</p>
            </strong>
            <br>

            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Operador</th>
                            <th>valor</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reporte in tipo_contrato %}
                        <tr>
                            <td>{{ reporte.get_operador_display}}</td>
                            <td>{{ tipos_map|get_item:reporte.valor }} </td>
                            <td>
                                <form method="post"
                                    action="{% url 'logica_filtros_eliminar' reporte.logica_calculo.id reporte.pk %}"
                                    onsubmit="return confirm('¿Eliminar esta filtro?');">
                                    {% csrf_token %}
                                    <button type="submit">🗑 Eliminar</button>
                                </form>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <h2>Nuevo filtro</h2>
            <form method="post">

                {% csrf_token %}
                <div class="card">
                    <div class="form-grid-2">
                        <div>
                            <div class="form-group2">
                                {{ form_tipo_contrato.as_p }}
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" name="contrato-submit">
                    Agregar filtro tipo contrato
                </button>
            </form>
        </div>
        <div id="tab2" class="tab-pane active">
            <strong>
                <p>Filtro de tipos de cotizante</p>
            </strong>
            
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Operador</th>
                            <th>valor</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reporte in tipo_cotizante %}
                        <tr>
                            <td>{{ reporte.get_operador_display}}</td>
                            <td>{{ tipos_c_map|get_item:reporte.valor }} </td>
                            <td>
                                <form method="post"
                                    action="{% url 'logica_filtros_eliminar' reporte.logica_calculo.id reporte.pk %}"
                                    onsubmit="return confirm('¿Eliminar esta filtro?');">
                                    {% csrf_token %}
                                    <button type="submit">🗑 Eliminar</button>
                                </form>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <h2>Nuevo filtro</h2>
            <form method="post">

                {% csrf_token %}
                <div class="card">
                    <div class="form-grid-2">
                        <div>
                            <div class="form-group2">
                                {{ form_tipo_cotizante.as_p }}
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" name="cotizante-submit">
                    Agregar filtro tipo contrato
                </button>
            </form>
            <br>
        </div>   
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}