{% extends "base.html" %}
{% load formatos %}

{% block title %}Procesar{% endblock %}
{% block content %}
<h2>Periodos abiertos</h2>
<form method="get">
    <div class="card">
        <div class="form-grid-5">
            <div>
                <div class="form-group2">
                    <input type="text" name="codigo" placeholder="Codigo" value="{{ request.GET.codigo }}">
                </div>
            </div>
            <div>
                <div class="form-group2">
                    <input type="text" name="anio" placeholder="Año" value="{{ request.GET.anio }}">
                </div>
            </div>
            <div>
                <div class="form-group2">
                    <input type="text" name="mes" placeholder="Mes" value="{{ request.GET.mes }}">
                </div>
            </div>
            <div>
                <div class="form-group2">
                    <input type="text" name="periodo" placeholder="Periodo" value="{{ request.GET.periodo }}">
                </div>
            </div>
            <div>
                <div class="form-group2">
                    <button type="submit">🔍Buscar</button>
                </div>
            </div>
        </div>
    </div>
</form>


<form method="post" id="formProcesar">
    {% csrf_token %}

    <div class="table-container" style="height: 10%;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="checkAll">
                    </th>
                    <th>Codigo</th>
                    <th>Año</th>
                    <th>Mes</th>
                    <th>Periodo</th>
                    <th>Progreso</th>
                    <th>Tipo nómina</th>
                    <th>Fecha inicio</th>
                    <th>Fecha fin</th>
                    <th>Detalle</th>
                </tr>
            </thead>
            <tbody>
                {% for p in periodos %}
                <tr>
                    <td>
                        <input type="checkbox" name="periodos" value="{{ p.id }}">
                    </td>
                    <td>{{ p.codigo }}</td>
                    <td>{{ p.anio }}</td>
                    <td>{{ p.mes }}</td>
                    <td>{{ p.periodo }}</td>
                    <td style="width:180px;">
                        <div class="progress-container">

                            {% if p.estado_proceso == "F" %}
                            <div class="progress-bar progress-success" id="bar-{{ p.id }}" style="width: {{ p.progreso }}%;">
                            </div>

                            {% elif p.estado_proceso == "X" %}
                            <div class="progress-bar progress-error"  id="bar-{{ p.id }}" style= "width: {{ p.progreso }}%;">
                            </div>

                            {% elif p.estado_proceso == "P" %}
                            <div class="progress-bar progress-running"  id="bar-{{ p.id }}" style="width: {{ p.progreso }} %;">
                            </div>

                            {% else %}
                            <div class="progress-bar progress-empty"  id="bar-{{ p.id }}" style="width: 0%;">
                            </div>
                            {% endif %}

                            <span class="progress-text"  id="text-{{ p.id }}">
                                {{ p.progreso }}%
                            </span>
                        </div>
                    </td>
                    <td>{{ p.tipo_nomina }}</td>
                    <td>{{ p.fecha_inicio|date:"d/m/Y" }}</td>
                    <td>{{ p.fecha_fin|date:"d/m/Y" }}</td>
                    <td>
                        <a href="{% url 'procesamiento_detalle' p.id %}" class="btn btn-sm btn-primary">
                            🧾 Detalle proceso
                        </a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">
        Procesar nómina
    </button>
</form>
{% endblock %}
{% block scripts %}
<script>
function actualizarProgreso(periodoId) {

    const intervalo = setInterval(() => {

        fetch(`/gestionnomina/ajax/progreso-nomina/${periodoId}/`)
            .then(response => response.json())
            .then(data => {

                const bar = document.getElementById(`bar-${periodoId}`);
                const text = document.getElementById(`text-${periodoId}`);

                if (!bar || !text) {
                    clearInterval(intervalo);
                    return;
                }

                bar.style.width = data.progreso + "%";
                text.innerText = data.progreso + "%";

                // Cambiar color según estado
                bar.classList.remove(
                    "progress-running",
                    "progress-success",
                    "progress-error"
                );

                if (data.estado === "F") {
                    bar.classList.add("progress-success");
                    clearInterval(intervalo);
                } 
                else if (data.estado === "X") {
                    bar.classList.add("progress-error");
                    clearInterval(intervalo);
                } 
                else {
                    bar.classList.add("progress-running");
                }

            });

    }, 500); // cada 2 segundos
}
</script>
<script>
document.getElementById("formProcesar").addEventListener("submit", function (e) {
    e.preventDefault(); 

    const seleccionados = Array.from(
        document.querySelectorAll('input[name="periodos"]:checked')
    ).map(cb => cb.value);

    if (seleccionados.length === 0) {
        alert("Debe seleccionar al menos un período");
        return;
    }

    const formData = new FormData(this);

    fetch("", {   // misma URL
        method: "POST",
        body: formData
    })
    .then(response => {
        if (!response.ok) {
            throw new Error("Error al procesar");
        }

        seleccionados.forEach(periodoId => {
            actualizarProgreso(periodoId);
        });
    })
    .catch(error => {
        console.error(error);
        alert("Error ejecutando el proceso");
    });
});
</script>
{% endblock %}