{% extends "base.html" %}

{% block title %}Bancos{% endblock %}
{% block content %}

<div class="header-entidades">
    <h2 class="titulo-entidades">Bancos</h2>

    <div class="acciones-entidades">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form_excel.archivo_excel }}
            <button type="button" class="btn btn-success btn-sm"
                onclick="document.getElementById('excel-input').click();">
                📥 Cargar desde Excel
            </button>
        </form>

        <form method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" name="exportar_excel" value="1" class="btn btn-success">
                📥 Exportar
            </button>
        </form>
    </div>
</div>

<form method="get">
    <div class="card">
        <div class="form-grid-2">
            <div>
                <div class="form-group2">
                    <input type="text" name="banco" placeholder="Buscar por banco"  oninput="this.value = this.value.toUpperCase()"
                        value="{{ request.GET.banco }}">
                </div>
            </div>
            <div>
                <div class="form-group2">
                    <input type="text" name="codigo" placeholder="Buscar por codigo PSE"  oninput="this.value = this.value.toUpperCase()"
                        value="{{ request.GET.codigo }}">
                </div>
            </div>
            <div>
                <div class="form-group2">
                    <button type="submit">🔍Buscar</button>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="table-container">
<table>
    <thead>
        <tr>
            <th>Banco</th>
            <th>Codigo ACH</th>
            <th>Codigo PSE</th>
            <th>Codigo BR</th>
            <th>Codigo FINTECH</th>
            <th>Estado</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for b in registros %}
        <tr>
            <td>{{ b.banco }}</td>
            <td>{{ b.codigo_ach|default:"" }}</td>
            <td>{{ b.codigo_pse|default:"" }}</td>
            <td>{{ b.codigo_br|default:"" }}</td>
            <td>{{ b.codigo_fintech|default:"" }}</td>
            <td>{% if b.estado %}
                ACTIVO
                {% else %}
                INACTIVO
                {% endif %}
            </td>
            <td>
                <button type="button" class="editar-btn" data-pk="{{ b.pk }}" data-banco="{{ b.banco }}" 
                    data-codigoach="{{ b.codigo_ach|default_if_none:'' }}"  data-codigopse="{{ b.codigo_pse|default_if_none:'' }}" 
                    data-codigobr = "{{ b.codigo_br|default_if_none:'' }}" data-codigofintech = "{{ b.codigo_fintech|default_if_none:'' }}" 
                    data-estado="{{ b.estado }}">
                    ✏️ Editar
                </button>
            </td>
            <td>
                <form method="post" action="{% url 'bancos_eliminar' b.pk %}"
                    onsubmit="return confirm('¿Eliminar este banco?');">
                    {% csrf_token %}
                    <button type="submit">🗑 Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>


<h2>Nuevo Banco</h2>
<form id="banco-form" method="POST">
    {% csrf_token %}
    <div class="card">
        <div class="form-grid-2">
            <div>
            
                <div class="form-group2">
                {{ form.banco.label_tag }} <!-- label arriba -->
                {{ form.banco }}
                {% if form.banco.errors %}
                <div class="error">{{ form.banco.errors }}</div>
                {% endif %}
                </div>

                <div class="form-group2">
                {{ form.codigo_ach.label_tag }} <!-- label arriba -->
                {{ form.codigo_ach }}
                {% if form.codigo_ach.errors %}
                <div class="error">{{ form.codigo_ach.errors }}</div>
                {% endif %}
                </div>
                
                <div class="form-group2">
                {{ form.codigo_pse.label_tag }} <!-- label arriba -->
                {{ form.codigo_pse }}
                {% if form.codigo_pse.errors %}
                <div class="error">{{ form.codigo_pse.errors }}</div>
                {% endif %}
                </div>
                
                <div class="form-group2">
                {{ form.codigo_br.label_tag }} <!-- label arriba -->
                {{ form.codigo_br }}
                {% if form.codigo_br.errors %}
                <div class="error">{{ form.codigo_br.errors }}</div>
                {% endif %}
                </div>
                
                <div class="form-group2">
                {{ form.codigo_fintech.label_tag }} <!-- label arriba -->
                {{ form.codigo_fintech }}
                {% if form.codigo_fintech.errors %}
                <div class="error">{{ form.codigo_fintech.errors }}</div>
                {% endif %}
                </div>

                <br>
                <label for="Estado">Estado</label>
                <label class="switch">
                {{form.estado}}
                <span class="slider"></span>
                </label>

            </div>
        </div>
    </div>
    <br>
    <br>
    <button type="submit" name="accion" value="guardar">Guardar</button>
</form>
{% endblock %}
{% block scripts %}
<script>
    document.querySelectorAll('.editar-btn').forEach(btn => {
        btn.addEventListener('click', () => {
            
            const pk = btn.dataset.pk;
            const banco = btn.dataset.banco;
            const codigoach = btn.dataset.codigoach;
            const codigopse = btn.dataset.codigopse;
            const codigobr = btn.dataset.codigobr;
            const codigofintech = btn.dataset.codigofintech;
            const estado = btn.dataset.estado === "True";

            // Agregar un input hidden para el pk
            let form = document.getElementById('banco-form');
            let inputPk = form.querySelector('input[name="pk"]');
            if (!inputPk) {
                inputPk = document.createElement('input');
                inputPk.type = 'hidden';
                inputPk.name = 'pk';
                form.appendChild(inputPk);
            }

            inputPk.value = pk;
            form.querySelector('[name="banco"]').value = banco;
            form.querySelector('[name="codigo_ach"]').value = codigoach;
            form.querySelector('[name="codigo_pse"]').value = codigopse;
            form.querySelector('[name="codigo_br"]').value = codigobr;
            form.querySelector('[name="codigo_fintech"]').value = codigofintech;
            form.querySelector('[name="estado"]').checked = estado;
        
        });
    });
</script>
{% endblock %}