{% extends "base.html" %}

{% block title %}Tipos cotizantes{% endblock %}
{% block content %}
<h2>Tipos cotizantes</h2>
<div class="table-container">
<table>
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Descripcion</th>
            <th>Estado</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for b in registros %}
        <tr>
            <td>{{ b.codigo }}</td>
            <td>{{ b.descripcion }}</td>
            <td>{% if b.estado %}
                ACTIVO
                {% else %}
                INACTIVO
                {% endif %}
            </td>
            <td>
                <button type="button" class="editar-btn" data-pk="{{ b.pk }}" data-contrato="{{ b.codigo }}" 
                    data-estado="{{ b.estado }}">
                    ✏️ Editar
                </button>
            </td>
            <td>
                <form method="post" action="{% url 'tipos_cotizantes_eliminar' b.pk %}"
                    onsubmit="return confirm('¿Eliminar este tipo de cotizante?');">
                    {% csrf_token %}
                    <button type="submit">🗑 Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<h2>Nuevo tipo de cotizante</h2>
<form id="cliente-form" method="POST">
    {% csrf_token %}
    <div class="card">
        <div class="form-grid-2">
            <div>
            
                <div class="form-group2">
                {{ form.codigo.label_tag }} <!-- label arriba -->
                {{ form.codigo }}
                {% if form.codigo.errors %}
                <div class="error">{{ form.codigo.errors }}</div>
                {% endif %}
                </div>
                <div class="form-group2">
                {{ form.descripcion.label_tag }} <!-- label arriba -->
                {{ form.descripcion }}
                {% if form.descripcion.errors %}
                <div class="error">{{ form.descripcion.errors }}</div>
                {% endif %}
                </div>
            <br>

                <label for="Estado">Estado tipo</label>
                <label class="switch">
                {{form.estado}}
                <span class="slider"></span>
                </label>
            
            </div>
        </div>
    </div>
    <br>
    <br>
    <button type="submit" name="accion" value="guardar">Guardar</button>
</form>
{% endblock %}
{% block scripts %}
{% endblock %}