{% extends "base.html" %}

{% block title %}Tipos contratos{% endblock %}
{% block content %}
<h2>Tipos contratos</h2>
<form method="get">
    <div class="card">
        <div class="form-grid-2">
            <div>
                <div class="form-group2">
                    <input type="text" name="tipo" placeholder="Buscar por tipo contrato"  oninput="this.value = this.value.toUpperCase()"
                        value="{{ request.GET.tipo }}">
                </div>
            </div>
            <div>
                <div class="form-group2">
                    <button type="submit">🔍Buscar</button>
                </div>
            </div>
        </div>
    </div>
</form>
    
<div class="table-container">
<table>
    <thead>
        <tr>
            <th>Tipo contrato</th>
            <th>Estado</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for b in registros %}
        <tr>
            <td>{{ b.contrato }}</td>
            <td>{% if b.estado %}
                ACTIVO
                {% else %}
                INACTIVO
                {% endif %}
            </td>
            <td>
                <button type="button" class="editar-btn" data-pk="{{ b.pk }}" data-contrato="{{ b.contrato }}"
                    data-estado="{{ b.estado }}">
                    ✏️ Editar
                </button>
            </td>
            <td>
                <form method="post" action="{% url 'tipos_contratos_eliminar' b.pk %}"
                    onsubmit="return confirm('¿Eliminar este tipo de contrato?');">
                    {% csrf_token %}
                    <button type="submit">🗑 Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<h2>Nuevo tipo de contrato</h2>
<form id="tipocontrato-form" method="POST">
    {% csrf_token %}
    <div class="card">
        <div class="form-grid-2">
            <div>
            <div class="form-group2">
                {{ form.contrato.label_tag }} <!-- label arriba -->
                {{form.contrato}}
                {% if form.contrato.errors %}
                <div class="error">{{ form.contrato.errors }}</div>
                {% endif %}
            </div>
            <br>
                <label for="Estado">Estado tipo</label>
                <label class="switch">
                {{form.estado}}
                <span class="slider"></span>
                </label>
            </div>
        </div>
    </div>
    <br>
    <br>
    <button type="submit" name="accion" value="guardar">Guardar</button>
</form>
{% endblock %}
{% block scripts %}
<script>

    document.querySelectorAll('.editar-btn').forEach(btn => {
        btn.addEventListener('click', () => {
            const pk = btn.dataset.pk;
            const contrato = btn.dataset.contrato;
            const estado = btn.dataset.estado === "True";

            // Agregar un input hidden para el pk
            let form = document.getElementById('tipocontrato-form');
            let inputPk = form.querySelector('input[name="pk"]');
            if (!inputPk) {
                inputPk = document.createElement('input');
                inputPk.type = 'hidden';
                inputPk.name = 'pk';
                form.appendChild(inputPk);
            }
            inputPk.value = pk;

            // Llenar los campos
            form.querySelector('[name="contrato"]').value = contrato;
            form.querySelector('[name="estado"]').checked = estado;
        });
    });
</script>

{% endblock %}